.wrapper {
    padding: 30px 60px 60px 30px;
}

.button {
    padding: 4px 8px;
    background-color: #7FC3CB;
    border: none;
    color: white;
    font-weight: 800;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgb(168, 167, 167);
}

.button:focus {
    outline: none;
    border: none;
    color: rgba(31, 5, 39, 0.794);
}

